# Dependencias de Node.js
node_modules/

# Lockfiles (opcional si quieres excluirlos, pero no recomendado)
# Puedes incluir `pnpm-lock.yaml` si prefieres no rastrear el lockfile
# pnpm-lock.yaml

# Archivos de salida
dist/
build/

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de configuración específicos del entorno
.env
.env.local
.env.*.local

# IDEs y editores
.vscode/
.idea/

# Tipos de archivos temporales
*.tmp
*.log
*.bak

# Otros archivos del sistema
*.cmd
*.ps1
*.exe
